@import url('reset.css');

* {
cursor: default;
}

* a, * a * {
cursor: pointer;
}

html {
min-height: 100%;
}

body{
font: normal normal normal 100%/1.6 Geneva,Tahoma,sans-serif;
letter-spacing: 0.077em;
background-color: rgb(255,255,255);
background-image: url('/img/admin/texture.png'), linear-gradient(top, #f2efe6, #ebe5d3);
background-image: url('/img/admin/texture.png'), -moz-linear-gradient(top, #f2efe6, #ebe5d3);
background-image: url('/img/admin/texture.png'), -webkit-gradient(linear,left top,left bottom,color-stop(0, #f2efe6),color-stop(1, #ebe5d3));
color: rgb(20, 36, 51);
margin: 0;
}

#main {
margin: 0 auto;
}

abbr, .help {
border: none ;
cursor: help;
}

a {
color: rgb(51,51,51);
text-decoration: none;
}

a:hover {
color: rgb(51,51,51);
text-decoration: underline;
}

a img {
border: none;
}

dl {
padding: 0;
margin: 0 0 5px;
}

dt {
float: left;
width: 6em;
font-weight: bold;
clear: left;
}

dd {
padding: 0 0 0 6em;
margin: 0 0 3px;
}

dd p {
margin: 0 0 2px;
padding: 0;
clear: none;
}

h1{
font-size: 1.125em;
margin: 0 0 20px;
}

h2{
font: normal normal normal 1.125em MgOpenModerna,'Lucida Sans Unicode','Lucida Grande',sans-serif;
}

h3{
font: normal normal normal 1em MgOpenModerna,'Lucida Sans Unicode','Lucida Grande',sans-serif;
color: rgb(61, 107, 153);
text-transform: uppercase;
letter-spacing: 0.167em;
}

h4{
font-weight: bold;
margin: 0 0 3px;
}

hr {
clear: both;
margin: 0;
padding: 0;
height: 0;
visibility: hidden;
}

iframe.preview {
width: 100%;
height: 300px;
}

div.timestamps {
font-style: italic;
font-size: .8em;
}

ul.grid {
margin: 0 0 6px;
}

ul.grid li {
display: block;
}

ul.grid li a {
text-decoration: none;
background-color: rgba(51,51,51,0);
display: block;
vertical-align: middle;
padding: 6px;
border-radius: 6px;
-moz-border-radius: 6px;
-o-border-radius: 6px;
-webkit-transition: background .2s linear;
-moz-transition: background .2s linear;
}

ul.grid li a:hover, ul.grid a:focus {
background-color: rgba(51,51,51,0.1);
text-shadow: none;
}

ul.grid li img {
display: inline-block;
vertical-align: middle;
width: 24px;
}

/* Header Styling */

header#header {
display: block;
}

header#header h1 {
display: none;
}

/* Menu Styling */

nav#menu {
position: relative;
z-index: 9;
display: block;
background-color: rgb(51,51,51);
background-image: linear-gradient(top, #804a33, #4d2c1e);
background-image: -moz-linear-gradient(top, #804a33, #4d2c1e);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #804a33),color-stop(1, #4d2c1e));

}

nav#menu ul {
text-align: left;
list-style: none;
padding: 0;
margin: 0;
-webkit-white-space-collapse: discard;
}

nav#menu li {
display: inline;
}

nav#menu a {
color: rgb(255,255,255);
padding: 0 12px;
font-weight: normal;
font-style: normal;
display: inline-block;
line-height: 2.5;
-webkit-transition: background .4s linear;
-moz-transition: background .4s linear;
}

nav#menu a:hover {
background-color: rgba(0,0,0,0.4);
text-decoration: none;
}

/* Content Styling */

#content {
min-height: 500px;
padding: 0 0 12px;
text-shadow: 1px 1px 0 rgb(255,255,255);
}

#content h2:first-child {
line-height: 2.67;
margin: 0 12px 0;
}

#content h2:first-child:after {
display: block;
content: '';
background-color: rgb(242, 218, 145);
background-image: -moz-linear-gradient(top, #f2e6c2, #e5c35c); /* FF3.6 */
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f2e6c2),color-stop(1, #e5c35c)); /* Saf4+, Chrome */
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
border-radius: 3px;
height: 6px;
border-top: 1px solid rgb(229, 195, 92);
border-bottom: 1px solid rgb(242, 230, 194);
-moz-border-radius: 3px;
-o-border-radius: 3px;
margin-bottom: 12px;
}

#content .dashboard {
padding: 0 12px;
}

#content .tab_page {
display: table;
width: 100%;
border-collapse: separate;
border-spacing: 0;
}

#content .content {
padding: 0 12px;
}

#content div.content div.secondary {
color: rgb(102,102,102);
}

#content > div.content > div.secondary > div.item {
background-color: transparent;
margin: 0 0 6px;
}

#content > div.content > div.secondary > div.item > div.flags ul {
list-style: none inside;
padding: 0;
}

#content > div.content > div.secondary > div.item > div.flags ul li {
display: inline-block;
color: rgb(255,255,255);
border-radius: 6px;
-moz-border-radius: 6px;
-o-border-radius: 6px;
-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
-o-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
padding: 0 6px;
margin-right: 6px;
text-shadow: none;
}

#content > div.content > div.secondary > div.item > div.flags ul li.draft,
#content > div.content > div.secondary > div.item > div.flags ul li.no-draft {
background-color: rgb(255,128,0);
}

#content > div.content > div.secondary > div.item > div.flags ul li.featured,
#content > div.content > div.secondary > div.item > div.flags ul li.no-featured {
background-color: rgb(0, 119, 204);
}

#content > div.content > div.secondary > div.item > div.flags ul li.no-draft,
#content > div.content > div.secondary > div.item > div.flags ul li.no-featured {
opacity: 0.2;
}

#content div.content div.secondary div.meta b {
display: block;
}

#content div.content div.secondary span.editable {
min-height: 2em;
border-radius: 6px;
-moz-border-radius: 6px;
-o-border-radius: 6px;
background-color: rgba(0,0,0,0.1);
display: block;
width: 100%;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
padding: 3px 6px;
box-sizing: border-box;
-o-box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-ms-box-sizing: border-box;
}

#content div.content div.secondary span.editable:hover {
background-color: rgba(59, 75, 91,0.2);
border: 1px dashed rgba(51,51,51,0.2);
padding: 2px 5px;
}

#content div.content div.secondary span.editable input {
background-color: transparent;
border: none;
font-size: 1em;
text-indent: 0;
}

#content .content {
overflow: hidden;
}

#content .resource_list {
list-style: none;
padding: 0;
margin: 0 0 10px;
}

#content .resource_list li {
display: block;
}

#content .resource_list .resource_download {
display: block;
padding-left: 53px;
min-height: 48px;
_height: 48px;
background-color: transparent;
background-repeat: no-repeat;
}

#content .resource_list a {
display: block;
}

#content .resource_list .resource_image {background-image: url('/media/resource/image-icon.png');}

#content .resource_list .resource_pdf {background-image: url('/media/resource/pdf-icon.png');}

#content .resource_list .resource_word {background-image: url('/media/resource/word-icon.png');}

#content .resource_list .resource_video {background-image: url('/media/resource/movie-icon.png');}

#content .resource_list .resource_archive {background-image: url('/media/resource/zip-icon.png');}

#content .resource_list .resource_unknown {background-image: url('/media/resource/unknown-icon.png');}

#content ul.page_list {
list-style: none outside;
margin: 5px 0 0;
padding: 0;
float: left;
}

#content ul.page_list li {
display: inline;
}

#content ul.page_list li a {
padding: 5px;
float: left;
}

#content ul.item-list {
list-style: none outside ;
margin: 0;
padding: 0;
border-top: solid 1px rgb(230,230,230);
}

#content ul.item-list li {
clear: both;
display: block;
padding: 5px;
margin: 0;
border-bottom: solid 1px rgb(230,230,230);
}

#content ul.item-list a {
margin: -5px;
padding: 5px;
display: block;
}

#content ul.item-list li.sub {
padding-left: 20px;
}

#content ul.item-list li:hover {
background-color: rgb(242,242,242);
=background-color: transparent;
}

#content ul.item-list div.options {
padding: 0;
}

#content ul.sortable {
list-style: none inside;
padding: 0;
margin: 6px 0 12px;
}

#content ul.sortable > li > span > span > a {
}

#content ul.sortable > li {
display: block;
clear: both;
line-height: 2em;
padding: 6px;
margin: 0 0 2px;
background-color: rgba(51,51,51,0.1);
border-radius: 6px;
-moz-border-radius: 6px;
-o-border-radius: 6px;
-webkit-transition: background .2s linear;
}

#content ul.sortable > li.sortable-placeholder {
height: 2em;
}

#content ul.sortable > li.sortable-placeholder, #content ul.sortable > li:hover, #content ul.sortable > li:focus {
/*background-color: rgba(51,51,51,0.2);*/
background-color: rgba(59, 75, 91,0.2);
}

#content ul.sortable > li.featured:before {
content: 'Featured';
background-color: rgb(0, 119, 204);
color: rgb(255,255,255);
float: left;
padding: 0 6px;
margin-right: 3px;
text-shadow: none;
border-radius: 6px;
-moz-border-radius: 6px;
-o-border-radius: 6px;
-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
-o-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

#content ul.sortable > li.draft > span:first-child:before {
content: 'Draft';
background-color: rgb(255,128,0);
color: rgb(255,255,255);
padding: 0 6px;
display: inline-block;
margin-right: 6px;
text-shadow: none;
border-radius: 6px;
-moz-border-radius: 6px;
-o-border-radius: 6px;
-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
-o-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

#content ul.sortable > li {
overflow: hidden;
}

#content ul.sortable > li > span:first-child {
float: left;
}

#content ul.sortable > li > span.dates {
display: none;
float: right;
text-align: right;
width: 18em;
opacity: 0.75;
}

#content ul.sortable > li > span.children {
opacity: 0.75;
float: left;
}

#content ul.sortable > li > span.mover {
float: right;
margin-left: 6px;
height: 2em;
width: 2em;
background-image: url(/img/admin/mover.svg.png);
background-position: center center;
background-repeat: no-repeat;
opacity: 0.5;
-webkit-background-size: 92.3%;
-moz-background-size: 92.3%;
background-size: 92.3%;
cursor: move;
}

#content ul.sortable > li > span.dates > i:before, #content ul.sortable > li > span.children > i:before {
content: '|';
padding: 6px;
font-style: normal;
}

#content ul.sortable > li > span.dates > i:first-child:before, #content ul.sortable > li > span.children > i:first-child:before {
content : '';
}

/* tables */

table {
width: 100%;
border-collapse: collapse;
padding: 0;
margin: 0 0 12px;
white-space: normal;
text-align: left;
}

td, th {
padding: 0px 0px;
margin: 0;
vertical-align: middle;
line-height: 1.8;
}

th {
color: rgb(0,0,0);
}

/* Error Styling */

html body form div.error input, html body form div.error textarea {
background-color: rgb(255,230,231);
border-color: rgb(255,204,206);
}

html body form .error-message {
color: rgb(204,0,0);
clear: both;
}

/*
#flashMessage {
background: rgb(255,230,231);
border: solid 1px rgb(255,204,206);
color: rgb(153,61,65);
margin: 0 -10px;
padding: 15px 10px;
}


.notice {
color: #656565;
font-size: 14px;
background-color: #f4f4f4;
padding: 0.5em;
margin: 1em 0;
display:block;
}

.tip {
color: #656565;
background-color: #ddd;
}
*/
/* Form Styling */

form div {
margin: 0 0 3px;
}

form label {
display: block;
}

form div.checkbox label {
display: inline;
vertical-align: middle;
}

input, textarea {
font-size: 1em;
display:block;
width: 100%;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
}

input[type=checkbox] {
vertical-align: middle;
display: inline-block !important;
width: auto;
}

input[type=submit] {
width: auto;
}

textarea {
font-family: monospace;
}

select {
clear: both;
vertical-align: text-bottom;
}

option {
padding: 0 0.3em;
}

input[type=submit] {
display: inline;
vertical-align: bottom;
}

img.deco {
float: right;
}

img.alt {
float: left;
clear: left;
margin: 0 5px 5px 0;
}

img.flag {
vertical-align: middle;
}

dd img {
clear: none;
}

.required{
clear: both;
color:#222;
font-weight:bold;
}
.optional{
clear: both;
color:#555;
}

ul.actions {
background-color: rgb(255,255,255);
width: 150px;
float: right;
padding: 10px;
list-style: none;
margin: 0 -10px 0 0;
font-weight: bold;
}
ul.actions li {
display: inline;
margin-left: 3px;
}
ul.actions a {
color: rgb(100,100,100);
font-weight: normal;
text-decoration: none;
}

.clear {
clear: both;
}

ul.admin_page_links {
width: 95%;
list-style: none;
padding: 0;
margin: 0 10px;
}

/* Hook Menu */

ul.hook_menu {
font-size: 75%;
width: 16em;
margin: 0;
border: 1px solid rgb(104,104,104);
list-style: none inside;
background-color: rgb(255,255,255);
color: rgb(102,102,102);
border: solid 1px rgb(204,204,204);
background-color: rgb(238,238,238);
-o-border-radius: 0.125em;
-moz-border-radius: 0.125em;
-webkit-border-radius: 0.125em;
border-radius: 0.125em;
z-index: 9;
}

ul.hook_menu li {
line-height: 1.6;
display: block;
}

ul.hook_menu a {
padding: 3px 6px;
display: block;
text-decoration: none;
text-shadow: none;
color: rgb(102,102,102);
}

ul.hook_menu li a:hover, ul.hook_menu li a:focus {
background-color: rgb(51,130,245);
background: -moz-linear-gradient(top,rgb(136,136,136),rgb(102,102,102));
background: linear-gradient(top,rgb(136,136,136),rgb(102,102,102));
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(136,136,136)), to(rgb(102,102,102)));
color: rgb(255,255,255);
}

.hook_menu_x:focus {outline: none;}

.hook_menu_x {
display: inline-block;
cursor: pointer;
text-indent: -1000px;
background: url('/img/admin/hook-menu.svg.png') no-repeat center center;
background-size: 2em 1em;
margin-left: .375em;
height: 100%;
width: 2em;
}

/* Hook Tabs */

ul.tab_hooks {
font-size: 80%;
padding: 1px;
list-style: none inside;
margin: -6px 0 3px;
background: -moz-linear-gradient(top,rgb(153,153,153),rgb(102,102,102));
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(153,153,153)), to(rgb(102,102,102)));
}

ul.tab_hooks li {
display: inline-block;
padding: 5px 10px;
min-width: 7em;
text-align: center;
color: rgb(255,255,255);
text-shadow: -1px -1px 0 rgb(82,92,102);
}

ul.tab_hooks li.current {
color: rgb(61,69,77);
background: rgb(255,255,255);
text-shadow: none;
}

ul.tab_hooks li a {
color: rgb(255,255,255);
text-decoration: none;
}

ul.tab_hooks > li.current > a {
color: rgb(61,69,77) !important;
}

div.tab_page > h3 {
display: none;
}

ul.hook_ajax_pagination {
line-height: normal;
text-align: center;
list-style: none inside;
margin: 0 0 0;
padding: 4px 1px;
background-color: rgb(103,103,103);
overflow: hidden;
}

ul.hook_ajax_pagination li {
display: inline-block;
padding: 0;
margin: 0;
}

ul.hook_ajax_pagination li:first-child {
float: left;
}

ul.hook_ajax_pagination li:last-child {
float: right;
}

ul.hook_ajax_pagination a {
padding: 3px 5px;
text-decoration: none;
color: rgb(255,255,255);
text-shadow: -1px -1px 0 rgb(0,0,0);
}

ul.hook_ajax_pagination a:hover {
background-color: rgb(255,255,255);
color: rgb(111,111,111);
text-shadow: none;
}

/* Dialogs */

.message {
display: none;
}

.ui-widget-overlay {
display: block;
position: absolute;
top: 0;
left: 0;
height: 100%;
background-color: rgba(0,0,0,0.3);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#99000000',EndColorStr='#99000000')";
}

.ui-dialog {
background-color: rgb(221,221,221);
border: 1px solid rgb(255,255,255);
-ms-box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
padding: 5px;
/*position: fixed !important;*/
-moz-box-shadow: 0px 0px 4px #000;
-webkit-box-shadow: 0px 0px 4px #000;
box-shadow: 0px 0px 4px #000;
}

.ui-dialog-titlebar {
background-color: rgb(187,187,187);
padding: 5px;
margin: -5px -5px 6px;
line-height: 18px;
vertical-align: 50%;
font-size: 83.33%;
}

.ui-dialog-titlebar-close {
float: right;
display: inline-block;
width: 18px;
height: 18px;
text-indent: -10000px;
background: transparent url('/img/admin/close-button.png') no-repeat center center;
}

/* Hook Icons */

div.hook_icons {
display: inline-block;
margin-left: 6px;
/*float: right;*/
}

/* Buttons */

