[submodule "cake"]
	path = cake
	url = git://github.com/cakephp/cakephp1x.git
[submodule "app/plugins/minify"]
	path = app/plugins/minify
	url = git@github.com:connrs/minify.git
[submodule "app/plugins/localized"]
	path = app/plugins/localized
	url = git://github.com/cakephp/localized.git
