<?php
class DATABASE_CONFIG {
	var $default = array(
		'driver' => 'mysqli',
		'persistent' => false,
		'host' => 'localhost',
		'login' => 'user',
		'password' => 'password',
		'database' => 'database_name',
		'prefix' => '',
	);
	var $feeds = array('datasource' => 'feeds.feed');
}
