ul.sortable > li.sortable-placeholder {
height: 1.25em;
}

ul.sortable > li.sortable-placeholder {
background-color: rgb(59,75,91);
background-color: rgba(59,75,91,0.2);
}

ul.sortable > li > span.mover {
display: inline-block;
margin-right: .375em;
height: 1.25em;
width: 1.25em;
background-image: url('/img/admin/mover.svg');
background-position: center;
background-repeat: no-repeat;
opacity: 0.5;
-webkit-background-size: 92.3%;
-moz-background-size: 92.3%;
background-size: 92.3%;
cursor: move;
}

html.no-svg ul.sortable > li > span.mover {
background-image: url('/img/admin/mover.svg.png');
}

.ie8 span.mover {
background-color: black;
}
